.add-article>.text-left{background-color: #E5EEF7; margin-top: 30px;padding-left: 15px; font-weight: 600}
.add-content{background-color: #f5f5f5; margin-top: 5px;padding-top: 5px}
.title-input{width:100%}
.error-msg{color: red;font-size: 18px}

