<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开通博客-{{ request.user.username }}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <style>
        .fm{margin-top: 50px}
        .error{color: red;margin-left: 5px}
    </style>
</head>
<body>
<div class="container">
    <div class="row fm">
        <div class="col-md-6 col-md-offset-3">
            <h3 class="text-center">开通博客</h3>
            <form>
                {% csrf_token %}
                <p class="form-group">个人博客标题
                    <input type="text" id="title" class="form-control">
                </p>
                <p class="form-group">站点名称
                    <input type="text" id="site_name" class="form-control">
                </p>
                <p>
                    <input type="button" class="btn btn-default" id="submit" value="提交">
                    <span class="error"></span>
                </p>
            </form>
        </div>
    </div>
</div>
</body>

<script src="/static/js/jquery-3.2.1.min.js"></script>
<script>
$("#submit").click(function () {
    var title = $("#title").val();
    var site_name = $("#site_name").val();
    if (title && site_name){
        $.ajax({
            url: "/create_blog/",
            type: "post",
            data: {
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                title: title,
                site_name: site_name
            },
            success: function (data) {
                if(data === "OK"){
                    location.href = "/"
                }else {
                    $(".error").html(data)
                }
            }
        })

    }else {
        $(".error").html('请输入个人博客标题和站点名称')
    }
})
</script>
</html>